<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head', {title: "Home"}) %>

<!-----------------------------------------------------------------------
 Esto es el body
--------------------------------------------------------------------------> 

<body>

<!-----------------------------------------------------------------------
 Esto es el header
-------------------------------------------------------------------------->

<%- include('../partials/header') %>

<!-----------------------------------------------------------------------
 Esto es el cuerpo
-------------------------------------------------------------------------->

<div class="contenedor">
    <div class= "cajaprincipal">
    <% for (let i = 0; i < productos.length; i++) { %> 
        
        <div class="cajaprod">
           
            <div class= "imagen">
                <a href=<%=`/products/${productos[i].id}`%>>
                <img class="right" src=<%= `/../uploads/products/${productos[i].image}` %>   alt="<%= productos[i].image %>">   </a>
            </div>

            <div class= "detalle">
                <div class= "nombre">
                    <p><%= productos[i].nombreProducto %></p>
                </div>
                <div class= "precio">
                    <p>$<%= productos[i].precio %></p>
                </div>
            </div>
        </div>
      
    <% } %> 
</div>
</div>




 <%- include('../partials/footer') %>

</div>

</body>